.header
    .header__main
        .header__burger.btn-burger
        .header__container
            a.header__logo
            .header-menu
                .header-games__arr.header-menu__arrow.is-prev
                .header-games__arr.header-menu__arrow.is-next
                .layout-horizontal#header-scroll
                    nav.header__nav.header-nav
                        a.header-nav__item
                        a.header-nav__item
                        a.header-nav__item
                        a.header-nav__item
                        a.header-nav__item

            .header__right
                .header__act
                    .header-act
                        a.header-act__item
                            .header-act__icon.is-sportground
                            .header-act__text
                        a.header-act__item
                            .header-act__icon.is-chellenges
                            .header-act__text


                .header__ubox
                    .header-ubox
                        .header-ubox__right-block.show-guest
                            a.header-ubox__btn.is-reg.btn.is-36
                            a.header-ubox__btn.is-login.btn.is-36
                        .header-ubox__right-block.show-guest
                            a.header-ubox__btn.btn.is-transparent.is-36
                            a.header-ubox__btn.btn.is-transparent.is-36
                        .header-ubox__balance.has-dropdown.show-user
                            .header-ubox__text
                            .header-ubox__sum
                            //- include ../../templates/dropdown-balance
                        a.header-ubox__btn.btn.show-user.is-36

        .header__unav.has-dropdown.show-user
            //- include ../../templates/dropdown-menu

    linda-menu-top

    linda-sidemenu.header__sidemenu
    .header__sidebg